

.banner{
    border: 2px solid red;
    border-radius: 10px;
    height: 250px;
    background-image: url(../../../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-thumbnail{
    width: 200px;
    height: 200px;
    position: relative;
    top: -75px;
    left: 25px;
}

.secciones{
    margin-top: -70px;
}
.col{
    background-color: red;
    border: 2px solid;
}

.col-derecha{
    text-align: right;
}

.col-derecha p{ 
    margin-top: 30px;
    margin-left: 30px;
    font-size: 1.5rem;
}

.icono-trabajo{
    width:75px;
    height: 75px;
}

.btn{
    margin-right: 1%;
}